{% load widget_tweaks %}
{% load render_form_field %}
<div class="card">
    <div class="card-header text-white bg-primary font-weight-bold">
        Preço
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                {{ form.value.label_tag }}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R$</span>
                    </div>
                    {{ form.value|add_class:"form-control"}}
                    {% if form.value.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.value.errors }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col">
                {% render_form_field form.contact_name %}
            </div>
        </div>
    </div>
</div>