{% extends 'base.html' %}
{% load widget_tweaks %}
{% load render_form_field %}
{% block head_title %}
    {{block.super}} | Anúncio de Quarto
{% endblock head_title %}


{% block javascript %}

{% endblock javascript %}


{% block content %}

<h1>Novo Anúncio de Quarto</h1>
<div class="row">
    <div class="col-8">
        <form action="" method="post">
            {% csrf_token %}
            {% include 'rooms/_form_basic.html' %}
            {% include 'rooms/_form_local.html' %}
            {% include 'rooms/_form_types.html' %}
            {% include 'rooms/_form_attr.html' %}
            {% include 'rooms/_form_value.html' %}
            <br>
            <input type="hidden" id="load_cities" value="{% url 'locations:ajax_load_cities' %}">
            <input class="btn btn-success" type="submit" value="Anunciar"/>
        </form>
    </div>
</div>

  <script>
    $("#id_state").change(function () {
      var url = $("#load_cities").val();
      var stateid = $(this).val();
      $.ajax({
        url: url,
        data: {
          'state': stateid
        },
        success: function (data) {
          $("#id_city").html(data);
        }
      });

    });
  </script>
{% endblock content %}