{% extends 'base.html' %}
{% load widget_tweaks %}
{% load render_form_field %}
{% block head_title %}
    {{block.super}} | Anúncios de Quartos
{% endblock head_title %}


{% block javascript %}

{% endblock javascript %}


{% block content %}
<div class="row">
    <div class="col-7">
        <h2>Meus Quartos</h2>
    </div>
    <div class="col-2 text-right">
        <a class="btn btn-primary" href="{% url 'rooms:create' %} " role="button">Anunciar Quarto</a>
    </div>
</div>


<div class="row">
    <div class="col-9">
        {% for room in room_list %}
            {% include 'rooms/_bladelist_room.html' %}
        <br>
        {% endfor %}
    </div>
</div>
{% endblock content %}