{% extends 'base.html' %}
{% load widget_tweaks %}
{% load render_form_field %}
{% block head_title %}
    {{block.super}} | Registro de Conta
{% endblock head_title %}


{% block javascript %}

{% endblock javascript %}


{% block content %}

<h1>Recuperar Senha</h1>
<div class="row">
    <div class="col-12">
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-4">
                    {% render_form_field form.email %}
                </div>
            </div>
            <input class="btn btn-success" type="submit" value="Enviar e-mail de recuperação"/>
        </form>
    </div>
</div>

{% endblock content %}